body{
    background: black;
}

#mainframe{
    width: 800px;
    height: 100px;
    border: white solid 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#mainframe>div{
    width: 720px;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#mainframe>div>div{
    width: 100px;
    height: 80px;
    background-color: white;
    display: inline-block;
    margin-left: -1px;
}

button{
    width: 100px;
    height: 30px;
    position: absolute;
    left: 525px;
    top: 450px;
}

button:nth-child(2){
    left: 700px;
}