#Experience{
    width: calc(100vw - 20px);
    height: auto;
    padding: 10px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
}

#Experience section div>div{
    width: 40vw;
    height: 80vh;
    margin: 0 auto;
}
#Experience section h2 {
    font-size: 50px;
    text-align: center;
}

#Experience section h3 {
    background-color: #FFFFFF;
    color: #161D26;
    text-align: center;
}

#Experience section img{
    padding-left: 50px;
    display: inline-block;
}

#Experience section h4:nth-child(1){
    display: inline-block;
    position: relative;
    top: -150px;
    left: 10px;
}

.experience_container_1{
    display: flex;
    flex-direction: row;

}

